* {
  user-select: none; /* Prevents text selection */
  -webkit-tap-highlight-color: transparent; /* Removes grey highlight on mobile */
}

#root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Paytone One', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  user-select: none;
}